body {
  margin: 100px;
  background-color: #33ECC1;
}

.first {
  padding: 50px;
  background-color: #C2E2AC;
  color: #336655;
  font-size: 28px;
}

.second {
  padding: 50px;
  background-color: #C2E2AC;
  color: #336655;
  font-size: 20px;

}
