body {
  margin: 0px;
  padding: 0px;
  background-color: #33ECC1;
}

.first {
  padding: 50px;
  background-color: #C2E2AC;
  color: #336655;
  font-size: 28px;
}

.second {
  padding: 50px;
  background-color: #C2E2AC;
  color: #336655;
  font-size: 28px;
}


.header {
  background-color: #e4cdaf;
  color: #336655;
  font-size: 28px;
}

.left-menu {
  background-color: #b4e7e7;
  color: #336655;
  font-size: 28px;
  display:inline-block;
  width: 25%;
}

.main {
  color: #336655;
  font-size: 28px;
  display:inline-block;
}

.right-menu {
  background-color: #caec31;
  color: #336655;
  font-size: 28px;
  display: inline-block;
  float: right;
  width: 25%;
}

.footer {
  background-color: #0e6453;
  color: #c0ce2a;
  font-size: 28px;
}

ul { list-style-type: none; }
